<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<!-- hibernate的方言，用来确定连接的数据库 -->
<property name="hibernate.dialect">
org.hibernate.dialect.MySQLDialect
</property>
<!-- 数据库的连接类 -->
<property name="hibernate.connection.driver_class">
com.mysql.jdbc.Driver
</property>
<property name="hibernate.connection.provider_class">
org.hibernate.connection.ProxoolConnectionProvider 
</property> 
<property name="hibernate.proxool.pool_alias">DBPool</property> 
<property name="hibernate.proxool.xml">proxoolconf.xml</property>  
<!-- 在使用hibernate时会显示相应的SQL -->
<property name="show_sql">true</property>
<!-- 会自动完成类到数据表的转换 -->
<property name="hibernate.hbm2ddl.auto">update</property>
<mapping resource="model/User.hbm.xml" />
<mapping resource="model/Code.hbm.xml" />
<mapping resource="model/Authorization.hbm.xml" />
<mapping resource="model/Group.hbm.xml" />
<mapping resource="model/Groupitem.hbm.xml" />
<mapping resource="model/Question.hbm.xml" />
<mapping resource="model/News.hbm.xml" />
<mapping resource="model/Student.hbm.xml" />
<mapping resource="model/Video.hbm.xml" />
<mapping resource="model/Stuanswer.hbm.xml" />
<mapping resource="model/Exam.hbm.xml" />
<mapping resource="model/Examitem.hbm.xml" />
<mapping resource="model/Examcode.hbm.xml" />
<mapping resource="model/Score.hbm.xml" />
<mapping resource="model/Faq.hbm.xml" />
</session-factory>

</hibernate-configuration>
