@charset "utf-8";

/* HTML5 display-role reset for older browsers */




.flexigrid div.fbutton .add {
	background: url(images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(images/close.png) no-repeat center left;
}

.flexigrid div.fbutton .edit {
	background: url(images/edit.png) no-repeat center left;
}