body{font-family:微软雅黑,Arial;}
*{padding:0px;margin:0px;}
* li{list-style:none;}
a{text-decoration:none;color:#20537A;}
a:hover{text-decoration:underline;}
div{display:block}
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}
.clearfix {
    _zoom: 1;
}
*+html .clearfix {
	overflow:auto;
}
.footer{
	width:940px;text-align:center;color: #333;font-size: 14px;margin: 20px auto;height:60px;border:1px solid;padding:5px; 
          background: url(/image/bkg-tile-2.png) repeat left top;
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 0 0 5px #ddd;
		
}
.menu_navcc{width:950px; margin:0 auto;margin-bottom:50px;}
.menu_nav{width:950px;height:48px;background:url(/image/nav_bg.gif) repeat-x;float:left;margin-top:1px;}
.menu_nav .nav_content{padding-left:2px;background:url(/image/nav_l_bg.gif) no-repeat;float:left;}
.menu_nav .nav_content li{width:83px;height:48px;padding-left:15px;padding-right:13px;background:url(/image/nav_li_right.gif) no-repeat right center;float:left;line-height:48px;text-align:center;font-size:14px;font-weight:bold;}
.menu_nav .nav_content li a{color:#fff;width:84px;height:48px;display:block;}
.menu_nav .nav_content li.current{line-height:37px;}
.menu_nav .nav_content li em{background:url(/image/bid_new.gif) no-repeat;width:35px;height:21px;display:inline-block;position:absolute;top:-20px;left:40px;}

.menu_nav .nav_content li.current a,.menu_nav .nav_content li a:hover{width:88px;height:37px;background:url(/image/nav_li_current.gif) no-repeat;display:block;color:#fff;}
.menu_nav .nav_content li a:hover{background:url(/image/nav_li_hover.gif) no-repeat;line-height:37px;text-decoration:none;}

.menu_nav_right{padding-right:5px;background:url(/image/nav_r_bg.gif) no-repeat right top;float:right;margin-left:30px;padding-top:13px;height:23px;padding-bottom:12px;}